<div class="container">
  <div class="page-header">
    <h1>問題集ランキング</h1>
  </div>
  

  <% if @session.present? %>
  <div class="ranking-info">
    <p>お疲れ様でした!</p>
    <p>
      10問中
      <%= @session.score %>問正解・
      正答率 : <%= (@session.score * 100.0 / @session.word_order.size).round(1) %>%
    </p>
    <p>全体の順位としては <%= @user_rank %> 番目</p>
  </div>
    <% end %>


  <% if @rankings.any? %>
    <div class="ranking-table">
      <table>
        <thead>
          <tr>
            <th class="rank-column">順位</th>
            <th class="name-column">ユーザー</th>
            <th class="score-column">最高正解率</th>
          </tr>
        </thead>
        <tbody>
          <% @rankings.each do |ranking| %>
            <tr class="<%= 'current-user-row' if ranking.id == current_user.id %>">
              <td class="rank-column"><%= ranking.rank %></td>
              <td class="name-column"><%= ranking.name %></td>
              <td class="score-column"><%= ranking.best_score*10 %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @rankings %>
  <% else %>
    <p>ランキングデータがありません。</p>
  <% end %>
  <div class = "footer">
  <%= link_to "メニューへ戻る", root_path, class: "btn btn-secondary" %>
  <%= link_to "クイズメニューへ戻る", quiz_sessions_path, class: "btn btn-primary" %>
  </div>
</div>
