<nav class="navbar">
  <div class="nav-container">
    <%= link_to "ホーム", root_path, class: "nav-link" %>
    <%= link_to "タグ", word_tags_path, class: "nav-link" %>
    <%= link_to "単語", words_path, class: "nav-link" %>
    <%= link_to "問題集", quiz_sessions_path, class: "nav-link"%>
    <%= link_to "ランキング", ranking_path, class: "nav-link"%>
    <%= link_to "クレジットチャージ", invitations_path, class: "nav-link"%>
    
    <div class="nav-right">
      <span class="user-name"><%= current_user.name %></span>
      <span class = "user-credits">クレジット: <%= current_user.image_credits %></span>
      <%= button_to "ログアウト", logout_path, method: :delete, class: "btn-logout" %>
    </div>
  </div>
</nav>