<!DOCTYPE html>
<html>
 <head> 
  <title>日本語単語帳アプリ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-visit-control" content="reload">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
 </head>

 <body>
  <% if logged_in? %>
    <%=render "layouts/navbar" %>
  <% end %>
  <%= render "layouts/flash" %>
  <%= yield %>
  </body>
</html>


